.input-error-icon {
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
}

.error {
  color: #f96262;
}

.success {
  color: green;
}

@media screen and (max-width: 1023px) {
  .validation {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .validation .message {
    font-size: 0.9rem;
  }
  .input-error-icon {
    background-position: bottom 50% right 60px;
  }
}

@media screen and (min-width: 1024px) {
  .validation {
    padding-top: 10px;
    padding-left: 30px;
  }
  .validation .message {
    font-size: 0.9rem;
  }
  .input-error-icon {
    background-position: 75% 50%;
  }
}
